<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport" />
    <title>Insert Student &mdash; Student System</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/components.css" />
</head>

<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i
                                    class="fas fa-bars"></i></a>
                        </li>
                        <li>
                            <a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i
                                    class="fas fa-search"></i></a>
                        </li>
                    </ul>
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                            <img alt="image" src="/assets/img/avatar/avatar-1.png" class="rounded-circle mr-1" />
                            <div class="d-sm-none d-lg-inline-block">
                                Namaskaar Shrimaan!
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="/admin/logout" class="dropdown-item has-icon text-danger">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand text-bold">
                        <span>DIT Interactive</span>
                    </div>
                    <div class="sidebar-brand sidebar-brand-sm">
                        <a href="/student/get">DIT</a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Dashboard</li>
                        <li>
                            <a href="/student/get" class="nav-link"><i class="fas fa-home"></i>
                                <span>View Student</span></a>
                        </li>
                        <li class="active"><a class="nav-link" href="/student/register"><i class="fas fa-user-plus"></i>
                            <span>Register Student</span></a></li>
                    </ul>
                </aside>
            </div>

            <!-- Main Content -->
            <div class="main-content">
                <section class="section">
                    <div class="section-header">
                        <h1>Insert student</h1>
                    </div>

                    <div class="section-body">
                        <h2 class="section-title">
                            Insert a single student by filling the form below.
                        </h2>
                        <div class="row">
                            <div class="col" >
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Singular Insert</h4>
                                    </div>

                                    <div class="card-body">
                                        <form action="/student/register/initiate" method="get" id="documentForm">
                                            <!-- <div class="form-group">
                                                <label>Image</label>
                                                <div class="custom-file">
                                                    <input type="file" accept=".png,.jpeg,.jpg" class="custom-file-input" id="uploadedFile1" name="uploadedFile">
                                                    <label class="custom-file-label" for="userImage" id="uploadedFileLabel1">Choose
                                                        file</label>
                                                </div>
                                            </div> -->
                                            <div class="form-group">
                                                <label>First name</label>
                                                <input type="text" name="firstName" id="firstName"
                                                    class="form-control form-control-sm" />
                                            </div>
                                            <div class="form-group">
                                                <label>Last name</label>
                                                <input type="text" name="lastName" id="lastName"
                                                    class="form-control form-control-sm" />
                                            </div>
                                            <div class="form-group">
                                                <label>Age</label>
                                                <select class="form-control form-control-sm" name="age" id="age">
                                                    <% for(let i=5; i<=18; i++){ %>
                                                        <option value="<%= i %>">
                                                            <%= i %> Years
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Subject</label>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="subjects" id="subjects"
                                                        value="C Language" />
                                                    <label class="form-check-label" for="defaultCheck2">
                                                        C Language
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="subjects"
                                                        value="Python" id="chkPython" />
                                                    <label class="form-check-label" for="defaultCheck2">
                                                        Python
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="subjects"
                                                        value="Node" id="chkNode" />
                                                    <label class="form-check-label" for="defaultCheck2">
                                                        Node
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="subjects"
                                                        value="Sanskrit" id="chkSanskrit" />
                                                    <label class="form-check-label" for="defaultCheck2">
                                                        Sanskrit
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Average Score</label>
                                                <input type="text" name="avgScore"
                                                    class="form-control form-control-sm" />
                                            </div>

                                            <div class="form-group">
                                                <label>Grade</label>
                                                <select class="form-control" name="grade">
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                    <option value="C">C</option>
                                                    <option value="D">D</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary" name="action"
                                                    value="Submit Data" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-12 col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Multiple Insert</h4>
                                    </div>
                                    <form name="multipleRegistration" action="" 
                                    encType="multipart/form-data" method="post" id="fileForm">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label>Choose <em>.csv</em> file</label>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" accept=".csv" id="uploadedFile2" name="uploadedFile">
                                                    <label class="custom-file-label" for="uploadedFile2" id="uploadedFileLabel2">Choose
                                                        file</label>
                                                </div>
                                            </div>
                                            
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-primary" name="action"
                                                    value="Submit File" />
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="text-danger" id="status"></label>
                                            </div>
                                        </div>
                                    </form>
                                </div> -->
                            </div>
                        </div>
                </section>
            </div>
            <footer class="main-footer">
                <div class="footer-left">
                    <div class="bullet"></div>
                    Copyright &copy; DIT Interactive Pvt. Ltd.
                </div>
            </footer>
        </div>
    </div>

    <!-- General JS Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="/assets/js/scripts.js"></script>
    <script src="/assets/js/stisla.js"></script>
    <script src="/assets/js/insertHelpers.js"></script>
    <script>
        $('#uploadedFile1').change(function () {
            var i = $(this).prev('label').clone();
            var file = $('#uploadedFile1')[0].files[0].name;
            $('#uploadedFileLabel1').text(file);
        });
        $('#uploadedFile2').change(function () {
            var i = $(this).prev('label').clone();
            var file = $('#uploadedFile2')[0].files[0].name;
            $('#uploadedFileLabel2').text(file);
        });


    </script>
</body>

</html>